@charset "utf-8";
/* CSS Document */

<<<<<<< HEAD
head {
	background-image: url(../_images/bg.gif);
}
body {
	background-image: url(../_images/bg.gif);
}
h1 {
	font-size: 72px;
=======
body{
	background-image: url(../_images/bg.gif);
}
h1{
	font-size: 44x;
>>>>>>> upstream/master
	color: #FFF;
	/*color: #FEBC11;*/
	font-family: "Lucida Console", Monaco, monospace;
}
h2 {
	font-family: "Lucida Console", Monaco, monospace;
	color: #FEBC11;
}
h3 {
	font-size: 24px;
	color: #999;
	font-family: "Lucida Console", Monaco, monospace;
}
h4 {
	font-size: 24px;
	color: #000;
	font-family: "Lucida Console", Monaco, monospace;
}
h5 {
	font-size: 16px;
	color: #555;
	font-family: "Lucida Console", Monaco, monospace;
}
p {
	font-family: "Lucida Console", Monaco, monospace;
	color: #999;
}
<<<<<<< HEAD
ul, li {
	color: #FFF;
=======
ul, li{
	color: #FEBC11;
>>>>>>> upstream/master
	font-family: "Lucida Console", Monaco, monospace;
	display: inline;
	
}
a:link, a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
a:hover, a:active, a:focus {mouse. */
	text-decoration: underline;
	color: #09F;
}
/*
 body.index a.index, body.about a.about, body.prjects a.projects, body.contact a.contact {
 background-color: #09F;
 }
 */
.containerWrapper {

}
<<<<<<< HEAD
.login {
	background: #000;
}
.container {
	width: 900px;
	margin: 0 auto;
}
.header {
	width: 900px;
	height: 100px;
}
.nameHolder {
	color: #FFF width : 350px;
=======
.container{
	width: 1000px;
	margin: 0 auto;
}
.header{
	width:1000px;
	height:100px;
}
.nameHolder{
	width: 350px;
>>>>>>> upstream/master
	float: left;
}
.navBar {
	padding-top: 25px;
	width: 400px;
	float: right;
	text-align: right;
}
.contentWrapper {
	padding-top: 25px;
}
<<<<<<< HEAD
.contentIntro {
	width: 900px;
}
.contentMain {
	width: 900px;
	height: auto;
}
.contentLogin {
	background: #CCC;
	width: 250px;
	height: 250px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	text-align: center;
=======
.contentIntro{
	width:1000px;
	text-align:center;
}
.contentMain{
	width: 1000px;
	height:auto;
}
.contentLoginOrRegister{
	/*background-color:#CCC;*/
	background-color:#333;
	width:850px;
	height:400px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
	/*text-align:center;*/
}
.contentLogin{
	float:left;
	width: 400px;
	padding-left:20px;
}
.contentLoginInput{
	padding-left: 50px;
}
.contentLoginSubmit{
	padding-left: 50px;
}
.orBar{
	float:left;
	height:390px;
	width: 10px;
	border:#000;
	margin: 0 auto;
	text-align:center;
	border-right: 1px solid #000;
}
.contentRegister{
	float: right;
	width : 400px;
}
.contentRegisterInput{
	padding-left: 75px;
>>>>>>> upstream/master
}
label {
	padding-top: 10px;
	font-family: "Lucida Console", Monaco, monospace;
}
.fieldbox {

}
<<<<<<< HEAD
#login {
	background: #667;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.footer {
	height: 100px;
	width: 900px;
	margin: 0 auto;
	margin-top: 50px;
}
.ksuCopyright {
	color: #FFF width : 350px;
=======
.footer{
	/*height: 150px;*/
	width: 1000px;
	margin: 0 auto;
	margin-top:45px;
}
.ksuCopyright{
	width: 350px;
	height:100px;
>>>>>>> upstream/master
	float: left;
}
.footerBar {
	padding-top: 25px;
	padding-left: 100px;
	width: 400px;
	float: right;
	text-align: right;
}
input[type=text], input[type=password] {
	display: block;
	margin: 0 0 1em 0;
	padding: 1em;
}
input[type=submit], form a {
	padding: 1em;
}
legend {
	color: white;
}
