@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../_images/bg.gif);
	font-family: sans-serif;
	color: white;
}
/*White*/
h1 {
	font-size: 35px;
	color: #FFF;
}
/*KSU Gold*/
h2 {
	color: #FEBC11;
}
/*Grey-ish*/
h3 {
	font-size: 28px;
	color: #999;
}
/*White*/
h4 {
	font-size: 20px;
	color: #FFF;
}
h5 {
	font-size: 16px;
	color: #555;
}
/*Grey-ish*/
p {
	color: #999;
}
ul, li {
	color: #FEBC11;
	display: inline;
	padding-right: 20px;
}
a:link, a:visited {
	text-decoration: none;
	color: black;
}
a:hover, a:active, a:focus {mouse. */
	text-decoration: underline;
	color: #09F;
}
.dataDisplay tr, .dataDiaplay td {
	padding: 5px;
	color: black;
}
.dataDisplay th  a:link, .dataDisplay th a:visited {
	font-weight: bold;
	color: black;
	padding: 10px;
}
.dataDisplay th a:hover {
	text-decoration: underline;
}
table.dataDisplay {
	width: 100%;
}
/*
 body.index a.index, body.about a.about, body.prjects a.projects, body.contact a.contact {
 background-color: #09F;
 }
 */
.container {
	width: 1000px;
	margin: 0 auto;
}
/*Style for header.php*/
.header {
	width: 1000px;
	height: 100px;
}
.nameHolder {
	width: 350px;
	float: left;
}
.navBar {
	padding-top: 25px;
	width: 400px;
	float: right;
	text-align: right;
}
/*Style for footer.php*/
.footer {
	/*height: 150px;*/
	width: 1000px;
	margin: 0 auto;
	margin-top: 45px;
	bottom: 0;
	position: fixed;
}
.ksuCopyright {
	width: 350px;
	height: 100px;
	float: left;
}
.footerBar {
	padding-top: 25px;
	padding-left: 100px;
	width: 400px;
	float: right;
	text-align: right;
}
/*Style for main.php*/
.contentIntro {
	width: 1000px;
	text-align: center;
}
/*Style for login.php & register.php*/
.contentLoginOrRegister {
	background-color: #333;
	width: 850px;
	height: 370px;
	margin: 0 auto;
	border-radius: 15px;
	padding: 5px;
}
.contentLogin {
	float: left;
	width: 380px;
	padding-left: 20px;
}
.contentLoginInput {
	padding-left: 50px;
	width: 300px;
	color: #FEBC11;
	text-align: right;
}
.contentLoginSubmit {
	padding-left: 50px;
}
.orBar {
	float: left;
	height: 360px;
	/*width: 5px;*/
	border: #000;
	margin: 0 auto;
	text-align: center;
	border-right: 1px solid #FFF;
	padding-top: 10px;
	/*padding-top:170px;*/
}
.contentRegister {
	float: right;
	width: 390px;
}
.contentRegisterInput {
	padding-left: 75px;
	width: 400px;
	color: #FEBC11;
	text-align: right;
}
.submitButton {
	text-align: left;
}
.error {
	color: #FF0000;
}
/*Style for contact.php*/
.contact {
	color: #FEBC11;
	padding-left: 40px;
}
/*User's page*/
/*Style for index.php*/
.loggedUser {
}
.topContainer {
	height: 50px;
}
.welcome {
	float: left;
	width: 410px;
}
.userNavBar {
	float: right;
	width: 525px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px;
}
ul.userNavBar {

}
ul.userNavBar a {

}
ul.userNavBar a:hover, ul.userNavBar a:active, ul.userNavBar a:focus {
	color: #09F;
}
li.userNavBar {
	background: #333;
	width: auto;
	margin: 5px;
	padding-left: 20px;
}
li.userNavBar.active {
	background: red;
}
.bottomContainer {
	padding-top: 20px;
}
/*Style for update.php*/
.updateUser {

}
.updateInput {
	padding-left: 50px;
	color: #FEBC11;
}
/*Replaced, can be deleted
 ul.menu li {
 display: inline-table;
 background: #ff0000;
 padding: 10px;
 }
 */
/*Style for submit*/
.submitRequest {
	color: #FEBC11;
}
/*Tech's page*/
/*Style for index.php
 Using style for user's index
 */
.loggedTech {
}
/*Style for update.php
 Using style of user's update
 */
.updateTech {
}
/*Admin's page*/
/*Style for index.php*/
.loggedAdmin {

}
/*Style for admin.php
 Using user's update
 */
.updateAdmin {
}
table {
	color: black;
	width: 100%;
}
td {
	padding: 4px;
	font-size: 0.9em;
}
thead tr th {
	font-size: 1.1em;
	padding: 9px;
	text-transform: uppercase;
}
table tr.edit_r input {
	display: none;
}
table tr.edit_r:hover {
	background-color: red;
}
.hide_input {
	display: none;
}
.save_schedule {
	display: none;
}
